.button-1 {

    width: 30%;
    background-color: $hover-blue;
    color: white;
    border: none;
    border-radius: 1rem;
    padding: $button-padding ;
    margin: $button-margin;
    cursor: pointer;
  
    &:hover, &:active {
      background-color: $hover-blue;
    }
}