
.logo {
    height: $logo-size;
    width: $logo-size;
  }
  
.profile {
    height: $profile-pic-size;
    width: $profile-pic-size;
    border-radius: 50%;
  }

  
.header-img {
    height: $header-img-size;
    width: $header-img-size;
}

//not used
.post {
    width: $tweet-width;
  }