@import "Colors";

  

  .chat-bubble {
    background-color: $light-blue;
    color: $black;
    border-radius: 2rem;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  
  .chat-bubble.right {
    background-color: $dark-blue;
    color: $white;
    text-align: right;
  }
  

  .message {
    margin: 0;
  }
  
  

  