@import "Colors";

@import "Typography";
@import "Paragraphs";
@import "Sizes";
@import "Paddings";
@import "Margins";
@import "NavBars";
@import "Buttons";
@import "Inputs";
@import "Headings";
@import "Images";


.container {
  display: flex;
  border: #ccc 1px solid;
  width: 100%;
  height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}