.profile-container{
  width: 50%;
  display: flex;
  flex-direction: column;

  header{
    h1{
      border-bottom: #ccc 1px solid;
      padding-bottom: 0.5rem;
    }
  }
  .banner-container{
    width: 100%;
    background-color: #ccc;
    background-image: url(https://timelinecovers.pro/facebook-cover/download/business-software-coding-screen-facebook-cover.jpg);
    background-size: cover;
    height: 15rem;
    border: green 1px solid;
    
    .profile-picture-container{
      width: 35%;
      margin: 8.5rem 1rem;
      img{
        width: 80%;
        border-radius: 50%;
      }
    }

  }
  nav{
    margin-top: 5rem;
    ul{
      display: flex;
      justify-content: space-around;
    .profile-navlink{
      cursor: pointer;
      text-decoration: none;
      color: black;
      &:hover{
        color: red;
      }
      }
    }
  }
}

